body {
    background-color:rgb(9, 35, 66);
    
}
h1 {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width:400px;
    height: 30px;
    padding:10px;
    margin:20px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border:none;
}

.add {
    width:50px;
    height: 50px;
    padding:5px;
    font-size: 30px;
    align-items: center;
    border-radius: 30px;
    border:none;
    
}
.add:hover{
    cursor:pointer;
    transform: scale(1.5);
}
.form {
    background-color: grey;
    height:400px;
    width: 400px;
    display: flex;
    margin:0px;
    padding:0px;
    border-radius: 40px;
    /* display: none; */
}
.create-contact {
    display: flex;
    flex-direction: column;
    
}

.name {
    margin:30px 10px 10px 50px;
    padding: 20px;
    font-size: medium;
    border-radius: 20px;
    border:none;
}
.number {
  margin:10px 10px 0px 50px;
  padding:20px;
  font-size: medium;
  border-radius: 20px;
  border:none;
}
.done{
background-color:white;
 color:black;
 font-size: 30px;
 padding:10px;
 margin:70px 100px 0px 100px;
 border-radius:50px;
 border:none;
 
}

.done:hover {
    transform: scale(1.5) ;
    cursor: pointer;


}